body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: white;
    text-align: center;
}

.panel{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    border: 2px black solid;
}

#front-page {
    color: rgb(255, 255, 255);
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-image: url("images/dionysus-alt.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

#story{
    min-height: 100vh;
    height: 100vh;
}

#significance{
    background-image: url(images/Dionysus.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#example{
    
}